
<!-- Site footer -->
<footer id="footer">
    Copyright &copy; 2017 Freddy Yonghyun Kim

    <ul class="f-menu">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'API', '#' %></li>
        <li><%= link_to 'Support', '#' %></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Team</a></li>
    </ul>
</footer>