$bgcolor-iii: #283472;
$bgcolor-ii: #233b57;
$bgcolor-1: #254560;
$bgcolor-i: #3f51b5;
$bgcolor-2: #365c89;
$bgcolor-3: #547eb8;
$bgcolor-4: #6293df;


/*
 * header
 */


/*
 * side nav
 */
$c-side-list-bg-default: $bgcolor-2;
$c-side-list-bg-hover: $bgcolor-ii;
$c-side-list-text-default: #ffffff;
$c-side-list-text-hover: #ffffff;

/*
 * dday card
 */
$ui-dday-card-default: $bgcolor-3;
$ui-dday-card-hover: rgba(0, 0, 0, 0.3);
$ui-dday-card-checked: #ffffff;