@import "drawable/*";


.fill-height{
    .alert{
        position: absolute;
        z-index: 2000;
        left: 0;
        right: 0;
        top: 80px;
        width: 30%;
        margin: 0 auto;
    }
}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { // 992 <= screen < 1200
    // md size

}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { // 768 <= screen < 992
    // tablet size

}
@media (max-width: $screen-xs-max) { // < 768
    // mobile size
    .fill-height .alert{
        top: initial;
        bottom: 7%;
        width: 75%;
    }
}