
<div class="block-header m-t-30 m-b-0">
    <h2 class="list-heading">
        <%= @project.title %>
        <small><%= @project.description %></small>
    </h2>

    <ul class="actions">
        <li>
            <a href="">
                <i class="zmdi zmdi-notifications"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="zmdi zmdi-refresh-alt"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="zmdi zmdi-settings"></i>
            </a>
        </li>
    </ul>

</div>

<div class="ground card">
    <div class="card-body card-padding">
        <div class="row">
            <!-- New habit project -->
            <%#= render partial: '/habits/ddays/dday_pannel', locals: {status: 'creater'} %>
            <% @count = @ddays.count; @all = @count %>
            <% @ddays.to_a.each_slice(7).each do |chunked_ddays| %>
            <div class="week-safe card clearfix m-b-15">
                <div class="card-body">
                    <%= render partial: '/habits/ddays/dday_pannel', collection: chunked_ddays, as: :dday, locals: {status: 'general'} %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

