// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "components/drawable/*";

.bgm-1{ background: $bgcolor-1 !important }
.bgm-i{ background-color: $bgcolor-i !important }
.bgm-2{ background: $bgcolor-2 !important }
.bgm-3{ background: $bgcolor-3 !important }
.bgm-4{ background: $bgcolor-4 !important }


html.fill-height{
    height: 100%;
    body
    {
        height: 100% !important;
    }

    section#main,
    section#content,
    section#content > div.container,
    section#content > div.container > .card
    {
        min-height: 100% !important;
    }
    section#main{
        padding-bottom: 0;
    }

    #footer{
        bottom: initial;
        background: $bgcolor-footer;
    }
}
